body {
  background-color: rgb(255, 246, 233,0.2);
}
.container,.row,.col {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
  margin-bottom:25px;
  font-size: 18px;
}
.highlight {
  padding:5px;
  border-radius:10px;
  color:black;
  font-weight: 600px;
}
.fa {
  margin-right: 10px;
}
.card {
  background-color: rgba(169, 168, 170, 0);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
input[type='search'] {
  width:50%;
  border-radius: 20px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 
.link{ 
  text-decoration: none; 
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: rgb(0, 129, 189);
}
.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  text-align:right;
}
.navbar-nav {
  margin-left: auto;
  padding-left: 25px;
}

.social_link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
}

 /*======= responsive media query ====== */




