body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 246, 233,0.2);
  font-size: 14px;
}
@font-face {
  font-family: 'Hey August Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Hey\ August.woff') format('woff');
}
/* GLOBAL STYLE */
.container,.row,.col,h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

 /* styling Navbar section */

.nav .nav-item {
  text-transform: capitalize;
}
.navbar-brand {
  margin-left: 160px;
}

 /* styling telegram button */

li.nav-item a.nav-link.btn_color,.btn_color  {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding:8px 18px;
  margin-left: 14px;
  color: white;
  background: rgb(236,24,14);
  background: linear-gradient(90deg, rgba(236,24,14,1) 0%, rgba(200,69,82,1) 0%, rgba(238,198,202,1) 100%);
}
.btn_color {
  margin-left:0px;
}
.nav-item a.nav-link.btn_color:hover,.btn_color:hover {
  color:white;
}
.custom_bg {
  background-color:#212121;
}

.custom_bg h1 {
  font-weight: bold;
}
.nav .nav-link {
  color: white;
}
.list-group-item {
  background-color: #212121;
  color: white;
  border: 1px solid rgb(71, 71, 71,0.5);
  -webkit-border-radius:5px;
  border-radius:5px;
  margin-left: 2px;
}

 /* styling Reward section */

 .reward {
  padding: 40px;
}

.reward {
  background-color: #131313;
}
.reward h1 { font-weight: bold;}
.reward h2 { 
  font-weight: bold;
  padding-bottom: 15px;
}
.reward_cycle {
  border: 1px solid rgb(71, 71, 71,0.5);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.reward .list-group-item-action {
  background-color: #131313;
}

 /* styling ninja card section */

.ninja_card {
  padding-top:50px;
  padding-bottom:20px;
  background-image: url('./images/card_bg.jpg');
  background-color: #3a3a3a;
  background-blend-mode:multiply;
  background-size:cover;
  background-position: top center;
}
.ninja_card h1 {
  font-size: 50px;
  font-weight: bold;
  color:#c84552;
  text-align: center;
}
.card {
  border:none;
  background: none;
  margin:20px 10px;
}
.card-title {
  font-weight: bold;
  color:#c84552;
}
.card-text {
  color: white;
  margin-top: -10px;
}


/* ====== styling mint(3000) section */
.mint {
  padding:50px;
  background: #131313 url('./images/3000_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat:space;
}
.mint h1,h3,small { color: white;}
.mint button {
  background: white;
  color:#c84552;
  padding: 8px 60px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius: 20px;
}
.mint h1 {
  font-family: 'Hey August Regular';
  font-size:80px;
  text-shadow: 0px 3px #000;
}
.mint small { font-size: 11px; }

/* ====== styling footer section */


/* ====== styling social media icon */
.social {
  padding-right: 0px;
}
.social_media {
  color: #000;
  margin-left: 30px;
}

/* styling pagination */
.page-link {
  background-color: #131313;
  color: white;
}

/* Search Bar */

.input-icons i {
  position: absolute;
}
.input-icons {
  margin-left: 23px;
}
.search_box {
  width: 90%;
  text-align: center;
  padding-left: 10px;
}

.input-icons {
  width: 100%;
}
.icon {
  padding: 10px;
  color: #c84552;
  min-width: 50px;
  text-align: center;
}


/* Styling Modal Popup */

.wallet {
  background: #131313;
}

p.card_price  {
  color: #454545;
  margin-top: -15px;
  font-size: 12px;

}
.modal-content,.bg_black_radius{
  background-color: black;
  color:white;
  border-radius: 20px;
  padding: 30px;
}
.modal-content select,.custom_select {
  background-color: #3a3a3a;
  color: white;
  border: none;
}
select option {
  background-color: #131313;
  color:#c84552;
}

.modal p small { color: #3a3a3a; }

.close_btn     { color: #ff6675; }

/*  styling Guide section */

.post_style   { border-radius:7px; }

.dropdown-menu {
  background-color: #131313;
}
.dropdown-menu a.nav-item {
  color:white;
}



@media only screen and (max-width:600px) {
  .navbar-brand,.navbar-nav li { margin-left: 15px;}
  .footer_left { margin-left:50px;}
  .footer_right { margin-right:80px;}
  .ninja_card h1 { font-size: 34px;margin-top: -30px;}
  .ninja_card h1.nft_heading { font-size: 25px;}
  .ninja_card  .card { margin-top: 0px;}
  .reward h1 { text-align: center;font-size: 25px;}
  .reward p {text-align: center;}
  .mint h1 { font-size: 70px;}
  .nft_card  { 
    display: inline-block; 
  }

   video {width: 290px;height:200px;  }
  .video_tag { width:160px;height: auto;margin-top:-05px;padding: 3px;}
  .video_tag p {margin-top: -25px;font-size: 12px;}
  .archieve_card,.roster_card { width: 10rem;height: 15rem;padding:2px;}
  .archieve_card h5,.roster_card h5 { font-size:13px;margin-top: -20px;}
  .archieve_card p,.roster_card p { font-size: 10px;}
  .paginated { margin-top: 50px;padding-top: 5px;}
  .post_style { width:310px;text-align: left;}
  .post_style h2 { font-size: 20px;}
}

@media only screen and (min-width:600px) {
}

@media only screen and (min-width:1200px) {

}

